<%- include header %>
<form method="post">
  Title：<br />
  <input type="text" name="title" /><br />
  Body<br />
  <textarea name="post" rows="20" cols="100"></textarea><br />
  <input type="submit" value="Post" />
</form>
<%- include footer %>